.layer-one{
    text-align: center;
    height: 480px;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p.text-one{
    text-align: left;
    line-height: 1.25em;
    font-size: 72px;
    width: 940px;
    font-family: BrandonGrotW01-Light, brandon-grot-w01-light, brandon-grot-w05-light,sans-serif;
    font-weight: 100;
    margin: 108.3px 124.5px 0px 124.5px;
}

p.text-two{
    line-height: 1.67em;
    font-size: 20px;
    font-family: avenir-lt;
    width: 940px;
    margin: 0px auto;
    text-align: start;
}

.layer-two{
    background-color: rgb(227,242,243);
    display: flex;
    justify-content: center;
}

#contact-page-questionnaire{
    width: 780px;
    
}