.App{
    height: 1000px;
}

.footer{
    position: relative;
    height: 275px;
}

.footer-contents{
    position: sticky;
    bottom: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-form{
    justify-content: center;
}

.footer-location > p {
    text-align: center;
    font-size: 15px;
}

.footer-number > p {
    font-size:  15px;
}

.footer-form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-form-field > button{
    border: 0px;
    background-color: black;
    color: white;
    height: 100%;
    width: 88px;
    font-size: 50px/1.34em;
    line-height: 31.5px;

}

.footer-form-field > button:hover{
    cursor: pointer;
}

.footer-form-field > input{
    height: 28.125px;
    padding: 3px 3px 3px 8px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-left: 0px;
    width: 352px;
}

.footer-form-field > input:hover, .footer-form-field > input:focus{
    height: 28.125px;
    padding: 3px 3px 3px 8px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.footer-form-field > input::placeholder {
    color: black;
}

.footer-form-field {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 35px;
    justify-content: space-between;
    gap: 10px;
    width: 450px;
}
