.collaboration-page{
    font-family: avenir-lt;
}

.collaboration-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.collaboration-bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
}
.collaboration-collaborators{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 460px;
    background-color: rgb(247, 247, 247);
}

.collaboration-image{
    margin: 0px;
    padding: 0px;
    width: fit-content;
}

.collaboration-image > img{
    max-height: 460px;
}

.collaboration-collaborators > p{
    text-align: center;
    margin: 0px;
}

#collaborator-names{
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0px;
}

#collaborator-names > li {
    line-height: 28.13px;
}

#collaborator-names > li > a{
    text-decoration: underline;
}

#collaborator-names > li a {
    display: block;
}

.collaboration-title span {
    background: transparent;
    border: 0;
    margin: 0 0 20px 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-align: center;
    line-height: 1.35em;
    font-size: 40px;
}

.collaboration-title p {
    display: inline-block;
    padding: 15px;
    margin: 0;
    text-align: center;
    line-height: 1.875em;
    font-size: 15px;
    background: transparent;
}